# Theme: Pixel Computer
# Version 1.0
# Last Update: 06Dec25
# License: CC-BY-SA 3.0
# By: Monica G.
# Description: Simple pixel art of an old PC! Changing the background color changes some elements in the WPS, but kept all other menus/screens grey-scale.
# Code based on OneBit_OLED by Jihoon Kim and SNARTY by Simon Anden!
# Icons/elements also altered from OneBit_OLED by Jihoon Kim and SNARTY by Simon Anden!

wps: /.rockbox/wps/Pixel_Computer.wps
sbs: /.rockbox/wps/Pixel_Computer.sbs
selector type: bar(color)
line selector start color: af3a03
line selector end color: af3a03
line selector text color: 000000
font:/.rockbox/fonts/12-Terminus.fnt
background color: 3c3836 
foreground color: ebdbb2
statusbar: on
scrollbar: on
show icons: 
filetype colours: -
